body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black; 
    background-color: black;
}
.terminal {
    width: 80%;
    max-width: 1150px;
    height: 600px;
    background-color:  #000;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 20px gray, 0 0 40px gray ; 
    padding: 15px;
    overflow-y: auto;  
    font-family: monospace;
    color: white;
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}


.terminal::-webkit-scrollbar {
    width: 4px; 
}

.terminal::-webkit-scrollbar-thumb {
    background: #666;   
    border-radius: 2px;
}

.terminal::-webkit-scrollbar-track {
    background: transparent;
}


.main-body{
    width: 100%;
    height: 100%;
    background: black;
}

.title{
    text-align: left;
    width: 100%;
    height: 200px;
    margin-left: -145px;
}
.title pre{
    display: inline-block;
    color: white;
    width: 100%;
}
#title-text{
    width: 100%;
    height: 100%;
    margin-top: -60px;
}
#title-text p{
    color: white;
    font-size: medium;
    font-family:monospace;
    line-height: 0.52;
}
.cmd-line{
    color: white;
    font-family: monospace;
    margin-top: 5px;
    font-size: medium;
}

.host{
    color: #951947;
}
.cmd-input {
    background: black;
    border: none;
    color: white;
    font-family: monospace;
    font-size: medium;
    outline: none;
    width: 300px;
    caret-color: white;
    position: relative;
}


.cmd-response {
    color: white;
    font-family: monospace;
    margin-left: 0px;
}
.help{
    color: cyan;
    font-size: medium;
    font-family: monospace;
    margin-left: 5px;
    line-height: 1;
    align-items: left;
    
}
.help1{
    font-size: medium;
    font-family: monospace;
}
.normal{
    color: white;
    font-size: medium;
    font-family: monospace;
}
.underline{
    color: white;
    font-size: medium;
    font-family: monospace;
    text-decoration: underline;
}